/* GITHUB 0 DAN ISHGA CHURISH
 1) 3 chisini iconi bosib repozitoriyni tanlab bosing
 2)  git init tekshiring 
 


*/

/* GITHUB LOCALNI SERVERGA JOYLASH 
 1) git init yozing
 2) git add .
 3) git commit -m "birinchi koment"
 4) git remote add origin https://github.com/Samandar99/Samandar99.git silkani yozin boshidigi 
 5) git push -u origin master

*/